<aside class="w-64" aria-label="Sidebar">
   <div class="sider-list">
      <ul class="space-y-2">
        <li>
          <%= link_to 'Home', root_path, class:'btn-sidebar' %>
        </li>
        <li>
          <%= link_to 'Cart', cart_path, class:'btn-sidebar' %>          
        </li>
        <li class="w-full">

          <%= content_tag(:div, "", data: { controller: "dropdown" }) do %>
            <%= content_tag(:button, "", id: "orders", class: "btn-sidebar w-full", data: { action: "click->dropdown#toggle" }) do %>
              <span class="dropdown-text" sidebar-toggle-item>Orders</span>
              <%= inline_svg "dropdown.svg" %>
            <% end %>
          <% end %>

          <ul id="dropdown-orders" class="hidden py-2 space-y-2">
            <% if user_signed_in? %>
              <li>
                <%= link_to 'Check previous orders', orders_path, class:'btn-sidebar ml-2' %>
              </li>
            <% end %>
            <li>
              <%= link_to 'Place an order', new_order_path, class:'btn-sidebar ml-2' %>
            </li>
          </ul>
        </li>
        <% if categories.present? %>
          <li>
            <%= content_tag(:div, "", data: { controller: "dropdown" }) do %>
              <%= content_tag(:button, "", id: "categories", class: "btn-sidebar w-full", data: { action: "click->dropdown#toggle" }) do %>
                <span class="dropdown-text" sidebar-toggle-item>Category</span>
                <%= inline_svg "dropdown.svg" %>
              <% end %>
            <% end %>

            <ul id="dropdown-categories" class="hidden py-2 space-y-2">
              <% categories.each do |category| %>
                <%= render 'shared/category', category: category %>
              <% end %>
            </ul>
          </li>
        <% end %>
      </ul>
   </div>
</aside>
