<div class="mb-4 flex">
    <%= f.label :first_name, class: "label-primary" %>
    <%= f.text_field :first_name,
                      placeholder: "First name",
                      class: "form-primary" %>
</div>

<div class="mb-4 flex">
    <%= f.label :last_name, class: "label-primary" %>
    <%= f.text_field :last_name,
                      placeholder: "Last name",
                      class: "form-primary" %>
</div>

<div class="mb-4 flex">
    <%= f.label :email, class: "label-primary" %>
    <%= f.email_field :email,
                      autocomplete: "email",
                      placeholder: "user@example.com",
                      class: "form-primary" %>
</div>
