<%= form_with model: @order, url: orders_path, method: :post, local: true do |form| %>
  <% if user_signed_in? %>
    <%= render 'orders/signed_form' %>
  <% else %>
    <%= render 'orders/form' %>
  <% end %>
  <%= form.fields_for :address do |f| %>
    <div class="mb-4">
        <%= f.label :country, class: "label-primary" %>
        <%= f.text_field :country,
                          class: "form-primary" %>
    </div>
    <div class="mb-4">
        <%= f.label :city, class: "label-primary" %>
        <%= f.text_field :city,
                          class: "form-primary" %>
    </div>
    <div class="mb-4">
        <%= f.label :street, class: "label-primary" %>
        <%= f.text_field :street,
                          class: "form-primary" %>
    </div>
    <div class="mb-4">
        <%= f.label :comment, class: "label-primary" %>
        <%= f.text_area :comment,
                          rows: 3,
                          class: "form-primary" %>
    </div>
  <% end %>
  
  <div class="mb-4">
      <%= form.submit "Submit",
                    class: "btn-primary" %>
  </div>
<% end %>
