<div class="w-full max-w-xs">
	<h1 class="font-hairline mb-6 text-center">Log In</h1>

	<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name),
			html: { class: "bg-white mb-4 px-8 pt-6 pb-8 rounded shadow-md" }) do |f| %>
		<%= f.input :email, required: true, autofocus: true,
			input_html: { autocomplete: "email", placeholder: "user@example.com" }	%>
		<%= f.input :password, required: true,
			input_html: { autocomplete: "password" } %>
		<% if devise_mapping.rememberable? %>
			<div class="mb-4 flex">
				<%= f.input :remember_me, as: :boolean, label: false,
										wrapper_html: { class: "flex items-center" },
										input_html: { class: "mr-2 leading-tight" } %>
				<%= f.label :remember_me, class: "align-baseline inline-block text-gray-700 text-sm" %>
			</div>
		<% end %>
		<%= f.button :submit, "Log in", class: "btn-primary" %>

		<%= render "devise/shared/links" %>
	<% end %>
</div>
