<!DOCTYPE html>
<html>
  <head>
    <title>SoftserveProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <script src="http://cdn.tailwindcss.com"></script>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-white">
    <header>
      <%= render 'layouts/header' %>
      <%= render 'layouts/alerts' %>
    </header>
    <main class="container mx-auto mt-28 px-5 flex">
    <% if @cart %>
      <%= render 'layouts/cart' %>
    <% end %>
      <%= yield %>
    </main>
      <%= render 'layouts/footer' %>
  </body>
</html>
