<!DOCTYPE html>
<html>
  <head>
    <title>SoftserveProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="bg-white">
    <%= render 'shared/alerts' %>
    <%= render 'shared/header' %>

    <main class="mr-0 px-5 w-7/12 flex items-start justify-between">
      <%= render 'shared/sidebar' %>
      <div class="mt-28">
        <%= yield %>
      </div>
    </main>

    <%= render 'shared/footer' %>
  </body>
</html>
